<div>
  <h1 *ngFor="let x of tools">{{ x }}</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
    perferendis, natus dicta recusandae fuga aperiam? Nulla vel dignissimos
    voluptate quam pariatur, totam odit temporibus maiores officia cum
    exercitationem alias culpa?
  </p>
</div>
<!-- <button (click)="giveName()">Toggle Div</button>
<div *ngIf="showDiv">
  <h1>Simple</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
    recusandae obcaecati nulla, quisquam eaque assumenda cupiditate cumque eius
    numquam, veritatis, aliquid soluta tempora itaque natus sunt voluptate
    fugit? Corrupti, recusandae.
  </p>
</div> -->
<h2>MySection == {{ mySection }}</h2>
<ul>
  <li
    (click)="changeSection('sports', 'dhsdskdhjhd')"
    [class.xyz]="mySection == 'sports'"
  >
    Sports
  </li>
  <li (click)="changeSection('tech')" [class.xyz]="mySection == 'tech'">
    Tech
  </li>
  <li (click)="changeSection('sci')" [class.xyz]="mySection == 'sci'">
    Science
  </li>
</ul>

<div *ngIf="mySection == 'sports'">
  <h1>Sports</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
    voluptatum dicta adipisci? Consequatur eaque qui, iure delectus rerum
    officiis numquam inventore incidunt aut soluta esse quisquam provident
    sapiente ut consequuntur!
  </p>
</div>
<div *ngIf="mySection == 'tech'">
  <h1>Tech</h1>
  <app-simple></app-simple>
</div>
<div *ngIf="mySection == 'sci'">
  <h1>Science</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
    voluptatum dicta adipisci? Consequatur eaque qui, iure delectus rerum
    officiis numquam inventore incidunt aut soluta esse quisquam provident
    sapiente ut consequuntur!
  </p>
</div>
